<h1><%=@user.name%></h1>
<div class='container'>
<%="Name:" + " " + @user.name%><br>
<%="Email:" + " " + @user.email%><br>
<%= link_to "Upload Video", new_video_path %><br><br>
</div>

<div>
	<h2>My Videos</h2>
	<%=current_user.videos.each do |v| %>
	<%="Title:" + " " + v.title %><br>
	<%="Description:" + " " + v.description%><br>
	<%= upload_video v.url %><br>
	<%= link_to 'Edit', edit_video_path(v) %>
	<%= link_to 'Delete', v, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
	<%end%>
</div>

